*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    /* background: url(https://img.wallpapersafari.com/phone/750/1334/45/54/jRNU9i.jpg) center center no-repeat fixed; */
    background: url(https://www.enjpg.com/img/2020/the-batman-desktop-1.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    gap: 10px;
    padding: 5vh;

}
.quadrinho{
    flex-direction: column;
    display: flex;
    height: 90vh;
    width: 90vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 0vh;
    margin-top: 0vh;
    margin-left: 50%;
    margin: 0;
}
.leia{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
    font-size: 40px;
    margin: 0;
}
.texto{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 40vh;
    margin: 0;
    margin-bottom: 0vh;
    margin-top: 0vh;
}
.descricao{
    width: 35vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
    font-size: 18px;
}

.vazio{
    height: 90vh;
    width: 50vh;
    margin: 0;
    margin-bottom: 0vh;
    margin-top: 0vh;
}

.rodape{
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 0;
    color: green;
    text-align: center;
}